@model Trash_Collector_Project.Models.CustomerAddressViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Review Before Resolving Pickup</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>*@
        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Address.Unit)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>

    </dl>
</div>
<p>
    <h3>@Html.ActionLink("Resolve Pickup", "Edit", new { /* id = Model.PrimaryKey */ })</h3> |
    @Html.ActionLink("Back to List", "Index")
</p>
